body {
  margin: 10px;
  background-color: #002130;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

button {
  width: 90px;
  height: 32px;
  margin: 7px;
  border-radius: 16px;
  background-color: #002130;
  border-color: #e0daca;
  color: #e0daca;
  font-size: 18px;
}

button:hover {
  background-color: #2c6c7a;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.score {
  color: #e0daca;
  margin-top: 10px;
  margin-bottom: 12px;
  align-self: center;
}

.grid {
  width: 340px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  border-color: #e0daca;
  border-style: solid;
  align-self: center;
  margin-bottom: 5px;
  border-radius: 5px;

}

.grid div {
  width: 17px;
  height: 17px;
}

.snake {
  background-color: #2c6c7a;
}

.apple {
  background-color: red;
  border-radius: 4px;
}

.start {
  align-self: center;
  border-radius: 6px;
  margin-top: 5px;
}

.buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.buttonLR {
  align-self: center;
  flex-direction: row;
}

#up, #down {
  align-self: center;
}

#down {
  margin-bottom: 0px;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 80px;
  width: 70px;
}