body {
  margin: 10px;
  background-color: darkslategrey;
}

button {
  width: 150px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.score {
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: center;
}

.grid {
  width: 340px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  align-self: center;
}

.grid div {
  width: 34px;
  height: 34px;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}

.start {
  align-self: center;
}

.buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.buttonLR {
  align-self: center;
  flex-direction: row;
}

#up, #down {
align-self: center;
}