body {
  margin: 10px;
  background-color: darkslategrey;
}

.score {
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid {
  width: 360px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 36px;
  height: 36px;
}
.snake {
  background-color: green;
}

.apple {
  background-color: red;
}
